/* RESETS */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* GENERAL */
.container {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}
.dash__inner {
  position: relative;
}
/* ASIDE */
.dash__aside {
  position: absolute;
  top: 0;
  left: 0;
}
.aside__container {
  max-width: 355px;
  padding: 50px 47px 137px 47px;
  margin: 0 auto;
}
.logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  margin-bottom: 49px;
}
.aside__logo {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
}
.aside__menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  gap: 34px;
}
.menu__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  gap: 27px;

  width: 252px;
  height: 64px;
  padding-left: 26px;
}
.menu__link:hover {
  color: #5d5fef;
}
.dash-icon {
  color: inherit;
}
.dashboard__link {
  background-color: #5d5fef;
  border-radius: 18px;
  border: 2px transparent solid;
}
.link__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.dashboard__text {
  font-weight: 600;
  color: #fff;
}
.aside__nav {
  margin-bottom: 80px;
}
.pro__container {
  background-image: url(../img/Pro-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro__inner {
  max-width: 238px;
  padding: 32px 46px 30px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #fff;
  font-family: "Poppins", sans-serif;
}
.pro__span {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.pro__p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #d9d9d9;
  text-align: center;
}
.pro__link {
  width: 136px;
  height: 40px;
  border-radius: 12px;
  background-color: #fff;
  color: #5d5fef;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* HEADER */
.dash__header {
  position: absolute;
  top: 0;
  left: 355px;

  background-color: #fff;
}
.header__container {
  max-width: 1575px;
  padding: 0 68px;
}
.header__inner {
  padding: 30px 0;

  display: grid;
  grid-template-columns: 205px 202px 513px 42px 189px 42px 48px 24px 226px;
}
.header__logo {
  grid-column: 1;
}
.header__search {
  grid-column: 3;
}
.search-form {
  width: 513px;
  padding: 24px 10px 20px 65px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 28px 50%;
  background-color: #f9fafb;
  border: none;
  border-radius: 18px;
}
::placeholder {
  color: #737791;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.header-lang {
  grid-column: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.lang-select {
  border: none;

  color: #374557;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  padding: 2px 30px 1px 1px;

  background-color: white;
  background-image: url(../img/lang-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;

  cursor: pointer;
}
.notif-link {
  grid-column: 7;

  display: flex;
  align-items: center;
  justify-content: center;
}
.notif-icon {
  border: 2px solid transparent;
}
.notif-icon:hover {
  border: 2px solid #5d5fef;
  border-radius: 10px;
}
.header-usercard {
  grid-column: 9;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.user__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.user__select {
  border: none;
  color: #151d48;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  padding-right: 54px;
}
.user__role {
  display: flex;
  align-self: flex-start;

  padding-left: 4px;
  color: #737791;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
/* MAIN */
.main {
  position: absolute;
  top: 120px;
  left: 345px;
  background-color: #fafbfc;
  background-size: cover;

  width: 1575px;
  height: 100vh;
}
